flows.json
[
    {
        "id": "1ee6f65ede9e915a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0df92213c696849c",
        "type": "serial in",
        "z": "1ee6f65ede9e915a",
        "name": "",
        "serial": "29245ca915a0e126",
        "x": 110,
        "y": 2220,
        "wires": [
            [
                "07352072daec2279"
            ]
        ]
    },
    {
        "id": "91b207b78265b765",
        "type": "ui_text_input",
        "z": "1ee6f65ede9e915a",
        "name": "",
        "label": "Encoder",
        "tooltip": "",
        "group": "8b362c199ae2ee57",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 2360,
        "wires": [
            [
                "93a9ce37ffc2642a"
            ]
        ]
    },
    {
        "id": "93a9ce37ffc2642a",
        "type": "serial out",
        "z": "1ee6f65ede9e915a",
        "name": "",
        "serial": "29245ca915a0e126",
        "x": 630,
        "y": 2340,
        "wires": []
    },
    {
        "id": "07352072daec2279",
        "type": "ui_text",
        "z": "1ee6f65ede9e915a",
        "group": "8b362c199ae2ee57",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "TEST",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 2140,
        "wires": []
    },
    {
        "id": "29245ca915a0e126",
        "type": "serial-port",
        "name": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "8b362c199ae2ee57",
        "type": "ui_group",
        "name": "[Project] Test",
        "tab": "cf76f2e3cc350fc5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf76f2e3cc350fc5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]